@import url(https://lsong.org/stylesheets/button.css);


.worker {
    &-list {}
    &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 0;
        padding: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    &-item:hover {
        cursor: pointer;
        background-color: #eee;
    }
    &-status-running {
        color: lightgreen;
    }
}